body{
    font-family: Arial, Helvetica, sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: darkmagenta;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    flex-wrap: wrap;
    text-align: center;
}
.list-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.search-bar {
    width: 500px;
    height: 45px;
    margin: 20px;
    display: flex;
    border: 2px solid purple;
    overflow: hidden;
    border-radius: 10px;
    cursor:text;
    text-align: center;
}

.search-bar input {
    width: 800px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px 0 15px;
}
.search-bar button {
    height: 100%;
    width: 48px;
    background: #1876f3;
    border: none;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.list{
    display: flex;
    margin-right: 80px;
    gap: 30px;
    margin-top: 30px;
}
li{
    list-style-type: none;
}
.name-of-header{
    font-size: 100px;
}
.table-container{
    width: 100%;
    position: fixed;
    margin-top: -280px;
    flex-wrap: wrap;
}
.navbar {
    display: flex;
    margin-top: 151px;
    background-color: white;
}
.navbar1 {
    display: flex;
    margin-top: -54px;
    margin-left: 13%;
}
.navbar2 {
    display: flex;
    margin-top: -53px;
    margin-left: 27%;
}
.navbar3 {
    display: flex;
    margin-top: -53px;
    margin-left: 41%;
}
.navbar4 {
    display: flex;
    margin-top: -53px;
    margin-left: 54%;
}
.navbar5 {
    display: flex;
    margin-top: -53px;
    margin-left: 73%;
}
.navbar6 {
    display: flex;
    margin-top: -53px;
    margin-left: 88%;
}
.nav-item {
    position: relative;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 200px;
    padding: 10px;
}
.nav-item:hover .dropdown {
    display: block;
}
.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.dropdown a:hover {
    background-color: #f2f2f2;
}
.nav-item:hover{
    color: purple;
    text-decoration: underline;
}
a{
    font-size: 18px;
}
.image-container{
    margin-top: 250px;
    cursor: pointer;
}
.td{

    align-items: center;
    font-size: 17px;
}
.image-name{
    display: flex;
}
.image{
    border-radius: 40px;
}
.image1-name-container{
    display: flex;
}
.image1{
    width: 1000px;
    margin-left: 25%;
    margin-top: 5%;
}
.para{
    margin-left: -350px;
    margin-top: 5%;
    font-size: 42px;
    color: red;
}
.image2{
    width: 35%;
    margin-left: 120px;
    cursor: pointer;
}
.quotes-container{
    font-size: 55px;
    margin-left: 16%;
    margin-top: 100px;
    color: deeppink;
    text-shadow: 5px 5px lightgrey;
}
.quotes1-container{
    font-size: 55px;
    margin-left: 40%;
    color: deeppink;
    text-shadow: 5px 5px lightgrey;
}
.shopping-btn{
    margin-left: 43%;
    padding: 20px 60px 20px 60px;
    font-size: 30px;
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.shopping-btn:hover{
    background-color: limegreen;
}
.shopping-link{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.shopping-image-container{
    display: flex;
    gap: 20px;
    margin-top: 5%;
    width: 80%;
    overflow-x: auto;
    align-items: center;
    margin-left: 10%;
    cursor: pointer;
}
.image3{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
}
.footer{
    margin-top: 10%;
    border: solid 1px lightgray;
    color: black;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}
footer{
    background-color: grey;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
}
.address-table-container{
    text-align: center;
    width: 100%;
    margin-top: 8%;
    padding-right: 70px;
    border: solid 1px lightgray;
    border-radius: 10px;
}
.play-store-image{
    width: 200px;
}
.insta-image{
    width: 150px;
}
.email{
    width: 20%;
    height: 30px;
    border: solid 2px red;
}
.subscribe{
    background-color: #1876f3;
    height: 30px;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    border: solid 2px black;
}
.subscribe:hover{
    background-color: red;
    border: solid 2px red;
}
.list-category-link{
    color: black;
    text-decoration: none;
}
.first-category{
    margin-top: 150px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}
.categories{
    margin-left: 20%;
}
.list-category{
    margin-left: 35%;
}
.first-list{
    margin-top: 20px;
}
.first1-category{
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}
.first2-category{
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}
.saree-page, .kurti-page{
    margin-top: 160px;
}
.column-one{
    padding: 13px;
}
.saree-image{
    width: 180px;
    height: 250px;
    object-fit: cover;
}